In [ ]:
#!/usr/bin/env python3

In [1]:
# load modules
from dotenv import load_dotenv
import requests
import json
import datetime as dt
import os
import pandas as pd
load_dotenv()

True

In [2]:
# read token from env file
token = os.environ.get('token')

In [3]:
# setup bearer token
bearerToken = str('Bearer' + ' ' + '{' + token + '}')

In [4]:
# header authentication
my_headers = {'Authorization' : bearerToken}

In [5]:
# post request
response = requests.post('http://46.20.238.167/DataProvider_new/api/v1/vehicle/livepositions',
headers=my_headers)

In [6]:
x = response.json()

In [16]:
df = pd.DataFrame(x.get('result'))

In [18]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.to_parquet('myfile.parquet')

In [15]:
pd.read_parquet('myfile.parquet')

,ActualReason,ActualSpeed,Address,Altitude,AltitudeUnits,AnalogueInput0,AnalogueInput1,AnalogueInput2,AnalogueInput3,AnalogueInput4,...,TripDestinationCode,TripDestinationID,TripID,TripSource,TripSourceCode,TripSourceID,TripType,UTCDateTime,WarehouseVisitID,WaybillNumber
0,0,59.580,"A2, Ugbenu, Ethiope West, Delta, Nigeria",3301,M,0.0,0.0,0,0,0.0,...,None,0,3100329519,STAGING AREA,None,0,0,/Date(1658909394000+0100)/,0,
1,0,0.000,"Iwo - Ibadan Road, Iwo, Osun, Nigeria",26571,M,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(1658909394000+0100)/,0,
2,0,0.000,"Elele Alimini, Emuoha, Rivers, Nigeria",4737,M,0.0,0.0,0,0,0.0,...,None,0,9000277389,,None,0,1,/Date(1658909393000+0100)/,0,10000014888826
3,0,5.688,"F200, Ibeshe, Egbado North, Ogun, Nigeria",7587,M,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(1658909393000+0100)/,0,
4,0,0.396,"F200, Ibeshe, Egbado North, Ogun, Nigeria",7841,M,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(1658909393000+0100)/,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,0,0.000,,0,,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3200,0,0.000,,0,,0.0,0.0,0,0,0.0,...,None,0,3100120934,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000011784536
3201,0,0.000,,0,,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3202,0,0.000,,0,,0.0,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3203,0,0.000,,0,,0.0,0.0,0,0,0.0,...,None,0,3000349207,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000012668104

In [9]:
pd. DataFrame.from_dict(x)

,code,count,time,status,message,result
0,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 59.58, 'Add..."
1,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
2,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 5.688, 'Add..."
4,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0.395999999..."
...,...,...,...,...,...,...
3199,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3200,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3201,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3202,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3203,0,0,1.658913e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."

In [19]:
if x["message"] == "operation completed successfully":
    # save response body as an object - data
    data = response.json()
    # get the datetime object
    ct = dt.datetime.now().strftime('%Y-%m-%d %H-%M-%d-%f')
    # file name
    name = str('livePosition-' + ct)
    # file path
    path = ".\data_parquet"
    filepath = os.path.join(path, "")
    # file full path
    filename = str(filepath + name + ".parquet")
    df = pd.DataFrame(data.get('result'))
    df.to_parquet(filename)
    # write  data object into the created path
   # with open(filename, 'w', encoding='utf-8') as f:
    #    pd.to_(df, f, ensure_ascii=False, indent=4)

In [20]:
today_df = pd.read_parquet("data/livePosition-2022-07-27 10-32-27-560547.parquet")

In [ ]:
# get the datetime object
#ct = dt.datetime.now().strftime('%Y-%m-%d %H-%M-%d-%f')

In [22]:
today_df.describe()

,ActualReason,ActualSpeed,Altitude,AnalogueInput0,AnalogueInput1,AnalogueInput2,AnalogueInput3,AnalogueInput4,AnalogueOutput0,AnalogueOutput1,...,SpeedOverGround,Status,Temperature,TotalOdometer,TrackTrue,TripDestinationID,TripID,TripSourceID,TripType,WarehouseVisitID
count,3204.0,3204.000000,3204.000000,3204.000000,3204.000000,3204.0,3204.0,3204.000000,3204.0,3204.0,...,3204.000000,3204.000000,3204.0,3204.0,3204.000000,3204.0,3.204000e+03,3204.0,3204.000000,3204.0
mean,0.0,1.761484,5948.660737,0.296119,0.004212,0.0,0.0,1.057466,0.0,0.0,...,1.730275,2.772160,0.0,0.0,73.499688,0.0,1.866130e+09,0.0,0.338951,0.0
std,0.0,8.912564,9056.618583,2.258580,0.027979,0.0,0.0,4.827777,0.0,0.0,...,8.730855,2.559908,0.0,0.0,111.465790,0.0,2.435144e+09,0.0,0.644848,0.0
min,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
50%,0.0,0.000000,3356.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,2.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
75%,0.0,0.000000,8199.250000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,3.000000,0.0,0.0,127.250000,0.0,3.000491e+09,0.0,0.000000,0.0
max,0.0,100.692000,116072.000000,26.053001,0.347000,0.0,0.0,39.590000,0.0,0.0,...,80.700000,13.000000,0.0,0.0,359.000000,0.0,9.000277e+09,0.0,2.000000,0.0

In [25]:
len(today_df.columns)

153

In [26]:
today_df.columns

Index(['ActualReason', 'ActualSpeed', 'Address', 'Altitude', 'AltitudeUnits',
       'AnalogueInput0', 'AnalogueInput1', 'AnalogueInput2', 'AnalogueInput3',
       'AnalogueInput4',
       ...
       'TripDestinationCode', 'TripDestinationID', 'TripID', 'TripSource',
       'TripSourceCode', 'TripSourceID', 'TripType', 'UTCDateTime',
       'WarehouseVisitID', 'WaybillNumber'],
      dtype='object', length=153)

In [ ]:
# file name
#name = str('livePosition-' + ct)

In [ ]:
# file path
#path = ".\data"
#filepath = os.path.join(path, "")

In [ ]:
# file full path
#filename = str(filepath + name + ".json")

In [7]:
import chime

In [17]:
chime.warning()

In [18]:
chime.info()

In [19]:
chime.success()

In [ ]:
# write  data object into the created path
#with open(filename, 'w', encoding='utf-8') as f:
#    json.dump(data, f, ensure_ascii=False, indent=4)