In [ ]:
#!/usr/bin/env python3

In [27]:
# load modules
from dotenv import load_dotenv
import requests
import json
import datetime as dt
import os
import pandas as pd
load_dotenv()

True

In [28]:
# read token from env file
token = os.environ.get('token')

In [29]:
# setup bearer token
bearerToken = str('Bearer' + ' ' + '{' + token + '}')

In [30]:
# header authentication
my_headers = {'Authorization' : bearerToken}

In [31]:
# post request
response = requests.post('http://46.20.238.167/DataProvider_new/api/v1/vehicle/livepositions',
headers=my_headers)

In [32]:
x = response.json()

In [33]:
df = pd.DataFrame(x.get('result'))

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df.to_parquet('myfile.parquet')

In [36]:
pd.read_parquet('myfile.parquet')

,ActualReason,ActualSpeed,Address,Altitude,AltitudeUnits,AnalogueInput0,AnalogueInput1,AnalogueInput2,AnalogueInput3,AnalogueInput4,...,TripDestinationCode,TripDestinationID,TripID,TripSource,TripSourceCode,TripSourceID,TripType,UTCDateTime,WarehouseVisitID,WaybillNumber
0,0,46.872,"A2, Obromudu, Ethiope West, Delta, Nigeria",3516,M,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(1658986317000+0100)/,0,
1,0,0.000,"F200, Ibeshe, Egbado North, Ogun, Nigeria",7517,M,15.048,0.0,0,0,0.0,...,None,0,3100328692,DANGOTE MINE 2,None,0,0,/Date(1658986317000+0100)/,0,
2,0,0.000,"Apapa-Oworonshoki Expressway, Obele, Mushin, L...",4031,M,0.000,0.0,0,0,0.0,...,None,0,9000277280,,None,0,1,/Date(1658986316000+0100)/,0,10000014887510
3,0,0.000,"E1, Adeyemi Oluajo, Afijio, Oyo, Nigeria",34732,M,0.000,0.0,0,0,0.0,...,None,0,3100329623,STAGING AREA,None,0,0,/Date(1658986316000+0100)/,0,
4,0,0.000,"Apapa-Oworonshoki Expressway, Obele, Mushin, L...",6333,M,0.000,0.0,0,0,0.0,...,None,0,3100329559,,None,0,0,/Date(1658986316000+0100)/,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3200,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,3100120934,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000011784536
3201,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3202,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3203,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,3000349207,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000012668104

In [37]:
pd. DataFrame.from_dict(x)

,code,count,time,status,message,result
0,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 46.872, 'Ad..."
1,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
2,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
4,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
...,...,...,...,...,...,...
3199,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3200,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3201,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3202,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."
3203,0,0,1.658990e+09,success,operation completed successfully,"{'ActualReason': 0, 'ActualSpeed': 0, 'Address..."

In [38]:
if x["message"] == "operation completed successfully":
    # save response body as an object - data
    data = response.json()
    # get the datetime object
    ct = dt.datetime.now().strftime('%Y-%m-%d %H-%M-%d-%f')
    # file name
    name = str('livePosition-' + ct)
    # file path
    path = ".\data_parquet"
    filepath = os.path.join(path, "")
    # file full path
    filename = str(filepath + name + ".parquet")
    df = pd.DataFrame(data.get('result'))
    df.to_parquet(filename)
    # write  data object into the created path
   # with open(filename, 'w', encoding='utf-8') as f:
    #    pd.to_(df, f, ensure_ascii=False, indent=4)

In [41]:
today_df = pd.read_parquet("data_parquet/livePosition-2022-07-28 07-33-28-978793.parquet")

In [43]:
# get the datetime object
#ct = dt.datetime.now().strftime('%Y-%m-%d %H-%M-%d-%f')

today_df

,ActualReason,ActualSpeed,Address,Altitude,AltitudeUnits,AnalogueInput0,AnalogueInput1,AnalogueInput2,AnalogueInput3,AnalogueInput4,...,TripDestinationCode,TripDestinationID,TripID,TripSource,TripSourceCode,TripSourceID,TripType,UTCDateTime,WarehouseVisitID,WaybillNumber
0,0,46.872,"A2, Obromudu, Ethiope West, Delta, Nigeria",3516,M,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(1658986317000+0100)/,0,
1,0,0.000,"F200, Ibeshe, Egbado North, Ogun, Nigeria",7517,M,15.048,0.0,0,0,0.0,...,None,0,3100328692,DANGOTE MINE 2,None,0,0,/Date(1658986317000+0100)/,0,
2,0,0.000,"Apapa-Oworonshoki Expressway, Obele, Mushin, L...",4031,M,0.000,0.0,0,0,0.0,...,None,0,9000277280,,None,0,1,/Date(1658986316000+0100)/,0,10000014887510
3,0,0.000,"E1, Adeyemi Oluajo, Afijio, Oyo, Nigeria",34732,M,0.000,0.0,0,0,0.0,...,None,0,3100329623,STAGING AREA,None,0,0,/Date(1658986316000+0100)/,0,
4,0,0.000,"Apapa-Oworonshoki Expressway, Obele, Mushin, L...",6333,M,0.000,0.0,0,0,0.0,...,None,0,3100329559,,None,0,0,/Date(1658986316000+0100)/,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3199,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3200,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,3100120934,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000011784536
3201,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3202,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,0,,None,0,0,/Date(978307200000+0000)/,0,
3203,0,0.000,,0,,0.000,0.0,0,0,0.0,...,None,0,3000349207,DANGOTE MINE 2,None,0,2,/Date(978307200000+0000)/,0,10000012668104

In [42]:
today_df.describe()

,ActualReason,ActualSpeed,Altitude,AnalogueInput0,AnalogueInput1,AnalogueInput2,AnalogueInput3,AnalogueInput4,AnalogueOutput0,AnalogueOutput1,...,SpeedOverGround,Status,Temperature,TotalOdometer,TrackTrue,TripDestinationID,TripID,TripSourceID,TripType,WarehouseVisitID
count,3204.0,3204.000000,3204.000000,3204.000000,3204.000000,3204.0,3204.0,3204.000000,3204.0,3204.0,...,3204.000000,3204.000000,3204.0,3204.0,3204.000000,3204.0,3.204000e+03,3204.0,3204.000000,3204.0
mean,0.0,1.560127,5783.150749,0.357375,0.004211,0.0,0.0,1.040655,0.0,0.0,...,1.523845,2.756554,0.0,0.0,71.253745,0.0,1.862384e+09,0.0,0.337703,0.0
std,0.0,8.315296,8977.675320,2.472577,0.027980,0.0,0.0,4.798261,0.0,0.0,...,8.158752,2.551995,0.0,0.0,110.203794,0.0,2.435704e+09,0.0,0.644535,0.0
min,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,1.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
50%,0.0,0.000000,3284.500000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,2.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0
75%,0.0,0.000000,8042.250000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,...,0.000000,3.000000,0.0,0.0,125.000000,0.0,3.000491e+09,0.0,0.000000,0.0
max,0.0,88.380000,116072.000000,26.053001,0.347000,0.0,0.0,39.590000,0.0,0.0,...,75.000000,13.000000,0.0,0.0,359.000000,0.0,9.000277e+09,0.0,2.000000,0.0

In [25]:
len(today_df.columns)

153

In [26]:
today_df.columns

Index(['ActualReason', 'ActualSpeed', 'Address', 'Altitude', 'AltitudeUnits',
       'AnalogueInput0', 'AnalogueInput1', 'AnalogueInput2', 'AnalogueInput3',
       'AnalogueInput4',
       ...
       'TripDestinationCode', 'TripDestinationID', 'TripID', 'TripSource',
       'TripSourceCode', 'TripSourceID', 'TripType', 'UTCDateTime',
       'WarehouseVisitID', 'WaybillNumber'],
      dtype='object', length=153)

In [ ]:
# file name
#name = str('livePosition-' + ct)

In [ ]:
# file path
#path = ".\data"
#filepath = os.path.join(path, "")

In [ ]:
# file full path
#filename = str(filepath + name + ".json")

In [7]:
import chime

In [17]:
chime.warning()

In [18]:
chime.info()

In [19]:
chime.success()

In [ ]:
# write  data object into the created path
#with open(filename, 'w', encoding='utf-8') as f:
#    json.dump(data, f, ensure_ascii=False, indent=4)